.page3-bodytext {
    width: 50%;
    font-size: 20px;
}


.page3-subtitle {
    font-size: 40px;
    font-weight: 600;
}

.page3-text {
    margin: 100px;
    width: 65%;
    font-family: "Montserrat";
}

.page3 {
    display: flex;
}

.page3-bodytext {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 200px;
    list-style: disc;
    font-weight: 450;
}

.page3-bodytext li {
    margin-bottom: 30px;
}

