.page4-bodytext {
    width: 50%;
}

.page4-subtitle {
    font-size: 40px;
    font-weight: 600;
}

.page4-text {
    margin: 100px;
    width: 65%;
    font-family: "Montserrat";
}

.page4 {
    display: flex;
}

.page4-bodytext {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 200px;
    list-style: disc;
    font-weight: 450;
}

.page4-bodytext li {
    margin-bottom: 30px;
}

.messageForm {
    width: 35%;
    margin-top: 40px;
    font-family: "Montserrat";
}

