.navbar-main-container {
    display: flex;
    justify-content: space-between;
}

.navbar-left-container {
    display: flex;
    align-items: center;
}

.navbar-right-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.navbar-list {
    list-style: none;
    display: flex;
}

.navbar-list-item {
    margin: 8px;
}

.navbar-button {
    display: flex;
    margin-left: 300px;
}